// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carts, #cart {

  .item_price, .total_line {
    text-align: right;
  }
  .total_line, .total_cell {
    font-weight: bold;
  }

  .cart_table {
    margin: 12px 12px 26px;
  }

  .checkout {
    margin: 4px 20px;
    background-color: #333;
  }

  .center_table {
    margin: auto;
  }
}

